<ng-container *ngIf="gamesState$ | async as state" [ngSwitch]="state.dataState">
  <ng-container *ngSwitchCase="DataState.Loaded">
    <section class="card">

      <div class="card-header text-center">
        <span>GAMES</span>
      </div>

      <div class="card-body">
        <div class="row" style="background-color: #167">
          <div class="col-sm-2">Format</div>
          <div class="col-sm-3">State</div>
          <div class="col">Begin</div>
          <div class="col">End</div>
        </div>
        <div class="row games-rows" (click)="showRow(i, $event, game.gameState)"
             [ngClass]="{ 'odd' : odd, 'even' : even }"
             *ngFor="let game of (state?.appData?.data?.games) | gamesSorterBy : 'createdAtDesc'; let i = index; odd as odd; even as even;">
          <div class="test col-sm-2">{{ getGameFormat(game.gameFormat) }}</div>
          <div class="col-sm-3">{{game.gameState}}</div>
          <div class="col">{{game.createdAt | date: 'yy-MM-dd HH:mm'}}</div>
          <div *ngIf="game.gameState == GameState.FINISHED"
               class="col">{{game.finishedAt | date: 'yy-MM-dd HH:mm'}}</div>
          <div *ngIf="game.gameState == GameState.STARTED" class="col" [(ngModel)]="game.outcome" ngDefaultControl>
            <button class="btn btn-custom btn-draw" (click)="openGameDialog(Outcome.Draw, game)">
              DRAW
            </button>
            <button class="btn btn-custom btn-scrap" (click)="openGameDialog(Outcome.Scrap, game)">
              SCRAP
            </button>
          </div>

          <app-game #gameChild [game]="game" [canBeSetFinished]="game.gameState == GameState.STARTED"
                    class="content{{i}}"
                    [ngClass]="{'hide' : game.gameState == GameState.FINISHED}"
                    (refreshPlayers)="updatePlayers()"
                    (refreshGames)="loadData()">
          </app-game>
        </div>
      </div>

    </section>

  </ng-container>
</ng-container>
