
.odd {
  color: var(--fg-row-odd);
  background-color: var(--bg-row-odd);
}

.even {
  color: var(--fg-row-even);
  background-color: var(--bg-row-even);
}

.row {
  padding-block: 0.7em;
}

.hide {
  display: none;
}

.btn-custom {
  color: white;
  background-color: transparent;
  border: #eee 1px solid;
  padding: 1px 20px;
  border-radius: 10px;
  &.btn-draw:hover {
    color: darkorange;
    border-color: gold;
  }
  &.btn-scrap:hover {
    color: darkslateblue;
    border-color: slateblue;
  }

}
