<ng-container>
  <ng-container *ngIf="gamesState$ | async as state" [ngSwitch]="state.dataState">
    <ng-container *ngSwitchCase="DataState.Loaded">
      <section>
        <div class="container" style="color:white">
          GAMES

          <div class="row" style="background-color: #167">
            <div class="col-sm-2">Format</div>
            <div class="col-sm-3">State</div>
            <div class="col">Begin</div>
            <div class="col">End</div>
          </div>
          <div (click)="showRow(i, $event, game.gameState)"
               class="row games-rows"
               *ngFor="let game of (state?.appData?.data?.games) | gamesSorterBy : 'createdAtDesc'; let i = index; odd as odd; even as even;"
               [ngClass]="{ 'odd' : odd, 'even' : even }">
            <div class="test col-sm-2">{{ getGameFormat(game.gameFormat) }}</div>
            <div class="col-sm-3">{{game.gameState}}</div>
            <div class="col">{{game.createdAt | date: 'yy-MM-dd HH:mm'}}</div>
            <div *ngIf="game.gameState == 'FINISHED'" class="col">{{game.finishedAt | date: 'yy-MM-dd HH:mm'}}</div>
            <div *ngIf="game.gameState == 'STARTED'" class="col" [(ngModel)]="game.outcome" ngDefaultControl>
              <button class="btn-custom btn-draw" data-bs-toggle="modal"
                      (click)="[game.outcome = Outcome.Draw]"
                      data-bs-target="#exampleModal">
                DRAW
              </button>
              <button class="btn-custom btn-scrap" data-bs-toggle="modal" (click)="game.outcome = Outcome.Scrap"
                      data-bs-target="#exampleModal">
                SCRAP
              </button>
            </div>

            <app-game [game]="game" [canBeSetFinished]="game.gameState == 'STARTED'" class="content{{i}}"
                      [ngClass]="{'hide' : game.gameState == 'FINISHED'}">
            </app-game>
          </div>


        </div>

      </section>


      <ng-template>
        <div></div>
      </ng-template>
    </ng-container>
  </ng-container>
</ng-container>