section {
  color:white;
  background: var(--bg-main-light);
  box-shadow: 0px 0px 7px gray, 0px 0px 20px black;

  i  {
    padding-left: 0.5rem;
    color: hsla(30, 30%, 30%, 0.4);
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.1rem;
    padding: 0 !important;
    padding-left: 1rem !important;
    margin: 0 !important;

    .badge {
      font-size: 0.8rem !important;
      background-color: var(--bg-main);
      color: var(--fg-secondary);
      margin-left: 0.5rem;
      border: 1px solid transparent;
    }

    .selected {
      color: yellowgreen;
    }

    li.list-group-item {
      background: hsla(50, 120%, 50% , 0.2);
      width: 100%;
    }


  }



}
