<ng-container *ngIf="playersState$ | async as state" [ngSwitch]="state.dataState">
  <ng-container *ngSwitchCase="DataState.Loaded">
    <section class="card">
      <div class="card-header text-center">
        <span>PLAYERS</span>
      </div>
      <div class="card-body">
        <ul >
          <li *ngFor="let player of (state?.appData?.data?.players | playersSorterBy: 'playerPoints');">
            <button class="badge mb-1" (click)="pickPlayer(player)"
                    [disabled]="!player.isAvailable"
                    [ngStyle]="{'cursor' : player.isAvailable && isEditMode ? 'pointer' : 'initial'}"
                    [ngClass]="{ 'selected' : playersNextGame.includes(player) && isEditMode }">
              <img src="{{ player.image_url }}" width="20" height="auto" alt="p_img">
              {{ player.nickname }}
              {{ player.playerPoints }}<span *ngIf="!player.isAvailable"><i class="bi bi-play-fill"></i></span>
            </button>
          </li>
        </ul>
      </div>
    </section>
  </ng-container>
</ng-container>
<!-- [ngStyle]="{ 'border-color': !isEditMode ? 'transparent' : player.isAvailable ? 'green' : 'brown'}" -->
