<ng-container>
  <mat-dialog-content tabindex="-1" aria-labelledby="gameModalLabel" aria-hidden="true">
    <div mat-dialog-title>
      {{ outcome?.toString() }}
    </div>
    <div *ngIf="!(outcome == Outcome.Scrap)">
      <h5 class="text-center">Choose MVP</h5>
      <hr>
      <div>Team1 <span *ngIf="game.outcome == Outcome.Team1_Wins"> *WINS* </span></div>
      <div *ngFor="let player of getPlayersFromTeam1(game)" class="row">
        <div class="col-md-6 text-center">{{ player.nickname }}</div>
        <input [(ngModel)]="game.mvp" type="radio" [value]="player" id="{{ player.id }}" name="mvp"
               class="col-md-6"/>
      </div>
      <hr>
      <div>Team2 <span *ngIf="game.outcome == Outcome.Team2_Wins"> *WINS*</span></div>
      <div *ngFor="let player of getPlayersFromTeam2(game)" class="row">
        <div class="col-md-6 text-center">{{ player.nickname }}</div>
        <input [(ngModel)]="game.mvp" type="radio" [value]="player" id="{{ player.id }}" name="mvp"
               class="col-md-6"/>
      </div>
    </div>
    <mat-dialog-actions>
<!--       <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetGameValues(game)"> -->
<!--         Close -->
<!--       </button> -->
      <button  class="btn btn-success" (click)="saveGame()">
        Confirm
      </button>
    </mat-dialog-actions>
  </mat-dialog-content>
</ng-container>
