.wrapper {
  padding-block: 10px;
  border-radius: 10px;
  background-color: #123;
  opacity: 0.6;

  .group-players {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: auto;

  }

}

.select-winner * {
  color: whitesmoke;

  &:hover {
    background-color: green;
  }
}

.togglePointerEvent {
  pointer-events: none;
}

.row {
  padding-block: 0.2em;
}
