
.container-fluid {
  height: 100vh;
  //background: transparent url("/assets/civ6_background3.png") no-repeat;

  .header {
    background: var(--bg-secondary);
    line-height: 6rem;
    h1 {
      font-weight: bold;
    }
  }

  .content {
    flex-grow: 1;

    .players {
      //max-height: 100%;
      //overflow-x: auto !important;
      //background: #998877 !important;
    }

  }

}


//div.civ-logo {
//  z-index: -1;
//    overflow-x: hidden !important;
//  img {
//    opacity: 0.1;
//    animation: animaBack 60s infinite alternate cubic-bezier(1, 0.99, 0, 0.01);
//  }
//}



//@keyframes animaBack {
//  from {
//    transform: translateX(-100%);
//  }
//  to {
//    transform: translateX(100%);
//  }
//}
