<ng-container>
  <section class="container-fluid d-flex flex-column justify-content-between align-items-stretch">
    <div class="header row text-center pt-3">
      <h1>natural born chillers</h1>
    </div>
    <div class="row mt-3 content">
      <div class="col-lg-1 side-menu">
        <app-side-menu [isEditMode]="isNewGameMode" (switchEditMode)="switchEditMode($event)"></app-side-menu>
      </div>

      <div class="col-lg-3 col-sm-12 players">
        <app-players #playersComponent [isEditMode]="isNewGameMode"
                     (playersNextGameOutput)="sendPlayersNextGameToNewGame($event)"
                     [playersNextGameInput]="playersNextGame">
        </app-players>
      </div>

      <div class="col-lg-8 col-sm-12">
        <app-games *ngIf="!isNewGameMode" #gamesComponent
                   [isEditMode]="isNewGameMode"
                   (refreshPlayers)="refreshPlayers()">
        </app-games>
        <app-new-game *ngIf="isNewGameMode"
                      [isEditMode]="isNewGameMode"
                      [players]="players"
                      [playersNextGame]="playersNextGame"
                      (onModeChange)="switchEditMode($event)"
                      (unselectPlayersNextGame)="refreshPlayers()"
                      (refreshGames)="refreshGames()"
                      (refreshPlayers)="refreshPlayers()">
        </app-new-game>
      </div>
    </div>
  </section>
</ng-container>
