<ng-container>
  <ng-container>
    <section class="card">
      <div class="card-header text-center">
        <span>NEW GAME</span>
      </div>
      <div class="card-body">
        <div class="row text-center card-title">
          <div class="col next-format" [ngClass]="{ 'show-format' : playersNextGame?.length == 4 && isEditMode }">
            {{ GameFormat.FORMAT_2V2 }}
          </div>
          <div class="col next-format" [ngClass]="{ 'show-format' : playersNextGame?.length == 6 && isEditMode }">
            {{ GameFormat.FORMAT_3V3 }}
          </div>
          <div class="col next-format" [ngClass]="{ 'show-format' : playersNextGame?.length == 8 && isEditMode }">
            {{ GameFormat.FORMAT_4V4 }}
          </div>
          <div class="col next-format" [ngClass]="{ 'show-format' : playersNextGame?.length == 10 && isEditMode }">
            {{ GameFormat.FORMAT_5V5 }}
          </div>
        </div>

        <!-- List of teams -->
        <div class="row text-center mt-2 teams" id="formed-teams">
          <div class="col-lg-6 col-sm-12 team-one-style">
            <h3 class="card-header">Team 1</h3>
            <div class="card-body">
              <div *ngFor="let player of playersOfNextGame; let i = index">
                <p *ngIf="i < playersNextGame.length / 2">{{ player?.nickname }}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 team team-two-style">
            <h3 class="card-header">Team 2</h3>
            <div class="card-body">
              <div *ngFor="let player of playersOfNextGame; let i = index">
                <p *ngIf="i >= playersNextGame.length / 2">{{ player?.nickname }}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Action Buttons -->
        <div class="footer row mt-3">
          <button [disabled]="!playersNextGame || playersNextGame?.length == 0" class="col-sm-6 btn btn-custom btn-reset-teams with-icon" (click)="resetTeams()">
            <mat-icon class="mat-icon">restart_alt</mat-icon>
            <span>Reset</span>
          </button>

          <button class="col-sm-6 btn btn-custom btn-make-teams with-icon"
                  [disabled]="false"
                  (click)="createGame()">
            <mat-icon *ngIf="canGameStart" class="mat-icon" style="transform: rotateZ(-25deg); ">sports_score</mat-icon>
            <mat-icon *ngIf="canGameStart" class="mat-icon" style="transform: rotateZ(-15deg); ">sports_score</mat-icon>
            <mat-icon class="mat-icon" style="transform: rotateZ(15deg); ">sports_score</mat-icon>
            SCREENSHOT and SAVE
            <mat-icon class="mat-icon" style="transform: rotateZ(15deg)">sports_score</mat-icon>
            <mat-icon *ngIf="canGameStart" class="mat-icon" style="transform: rotateZ(15deg)">sports_score</mat-icon>
            <mat-icon *ngIf="canGameStart" class="mat-icon" style="transform: rotateZ(25deg)">sports_score</mat-icon>
          </button>
        </div>
      </div>
    </section>

  </ng-container>
</ng-container>
