<ng-container>
  <ng-container>
    <section class="card">
      <div class="card-header text-center">
        <span>NEW GAME</span>
      </div>
      <div class="card-body">
        <div class="row text-center card-title">
          <div class="col next-format" [ngClass]="{ 'show-format' : playersNextGame?.length == 4 && isEditMode }">
            {{ GameFormat.FORMAT_2V2 }}
          </div>
          <div class="col next-format" [ngClass]="{ 'show-format' : playersNextGame?.length == 6 && isEditMode }">
            {{ GameFormat.FORMAT_3V3 }}
          </div>
          <div class="col next-format" [ngClass]="{ 'show-format' : playersNextGame?.length == 8 && isEditMode }">
            {{ GameFormat.FORMAT_4V4 }}
          </div>
          <div class="col next-format" [ngClass]="{ 'show-format' : playersNextGame?.length == 10 && isEditMode }">
            {{ GameFormat.FORMAT_5V5 }}
          </div>
        </div>

        <div *ngIf="areTeamsMade" class="card p-2" style="background-color: #167">
          <div class="col-sm-12 text-center">Double check the teams</div>
          <div class="col-sm-12 text-center">Then press the GO button to start the game</div>
        </div>
        <div *ngIf="!areTeamsMade" class="card p-2" style="background-color: #167">
          <div class="col-sm-12 text-center">Pick available players from the list to form the new game</div>
          <div class="col-sm-12 text-center">When you are ready click on the Make Teams button</div>
        </div>

        <div class="players-next-game" *ngIf="!areTeamsMade && playersNextGame?.length > 0">
          <span *ngFor="let player of playersNextGame">
            <span class="badge mb-1">{{ player?.nickname }}</span>
          </span>
        </div>

        <div class="row text-center" *ngIf="areTeamsMade">
          <h3 style="font-size: 1.2rem">Team 1</h3>
          <div class="col-sm-12" *ngFor="let player of playersNextGame; let i = index">
            <p *ngIf="i < playersNextGame.length / 2">{{ player.nickname }}</p>
          </div>
          <h3 style="font-size: 1.2rem">Team 2</h3>

          <div class="col-sm-12" *ngFor="let player of playersNextGame; let i = index">
            <p *ngIf="i >= playersNextGame.length / 2">{{ player.nickname }}</p>
          </div>
        </div>
        <div class="row d-flex mt-auto p-5">
          <button [disabled]="!playersNextGame || playersNextGame?.length == 0" class="btn btn-custom btn-reset-teams"
                  (click)="resetTeams()">Reset
          </button>
          <button *ngIf="!areTeamsMade" class="btn btn-custom btn-make-teams" (click)="makeTeams()"
                  [disabled]="playersNextGame?.length < 4 || playersNextGame?.length % 2 == 1">Make Teams
          </button>
          <button class="btn btn-custom btn-reset-teams" *ngIf="gameCanStart" (click)="createGame()">GO!</button>
        </div>
      </div>

    </section>

  </ng-container>
</ng-container>
