<ng-container>
  <section class="mt-3">
    <div>
      <p class="add-new-player sidemenu-item">
        <i class="bi bi-person-fill-add"></i>
      </p>

    </div>

    <div [ngStyle]="isEditMode ? { color : 'red' } : { color : 'green' }">
<!--       Setting editMode to true allows the instantiation of components through *ngIf="true" -->
      <p class="add-new-game sidemenu-item" (click)="switchIsEditMode()">
        <i class="bi bi-joystick"></i>

      </p>

    </div>
  </section>
</ng-container>
