section {
  color: var(--fg-main);
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .sidemenu-item:hover {
    cursor: pointer;
  }

}