<ng-container>
    <section>
      <button class="btn btn-custom" (click)="onAddPlayer()">
        <div class="add-new-player sidemenu-item"><i class="bi bi-person-fill-add"></i>&nbsp; Add Player</div>
      </button>
      <button class="btn btn-custom" (click)="switchIsEditMode()" *ngIf="!isEditMode">
        <div><i class="bi bi-joystick"></i> &nbsp; Make Teams</div>
      </button>
      <button class="btn btn-custom" (click)="switchIsEditMode()" *ngIf="isEditMode">
        <div><i class="bi bi-clock-history"></i> &nbsp; History</div>
      </button>

    </section>
</ng-container>
