@import 'ngx-toastr/toastr';

:root {
  --bg-main: #234;
  --bg-secondary: #002;
  --fg-main: #397;
  --fg-secondary: #CCA;
  --fg-dark: #321;
  --fg-row-odd: #222;
  --bg-row-odd: #987;
  --fg-row-even: #222;
  --bg-row-even: #389;
}

* {
  padding:0;
  border: 0;
}

html {
  font-size: 22px;
}

body {
  background: var(--bg-main);
  //background: url("assets/civ6_background3.png");
  background-size: cover;
  color: var(--bg-main);
  overflow: auto;
  min-height: 10dvh;
}

li {
  list-style: none;
}

[ng\:cloak],  [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}