@import "ngx-toastr/toastr";

:root {
  --bg-main: #234;
  --bg-secondary: #002;
  --fg-main: #114;
  --fg-secondary: #CCA;
  $btn-close-color: #3D2;
}

* {
  padding:0;
  border: 0;
}

html {
  font-size: 22px;
}

body {
  background: var(--bg-main);
  background-size: cover;
  color: var(--bg-main);
  overflow: auto;
  min-height: 90dvh;
  min-width: 100dvw;
}

li {
  list-style: none;
}

[ng\:cloak],  [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}