@import 'ngx-toastr/toastr';

:root {
  --bg-main: #234;
  --bg-main-light: #345;
  --bg-secondary: #002;
  --fg-main: #397;
  --fg-secondary: #CCA;
  --fg-dark: #321;
  --fg-row-odd: #222;
  --bg-row-odd: #987;
  --fg-row-even: #222;
  --bg-row-even: #389;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 20px;
}
@keyframes animaBack {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: 1000px;
  }
}
body {
  background: var(--bg-main);
  //background: url("assets/civ6_background3.png") no-repeat;
  //background-size: auto;
  //background-blend-mode: darken;
  color: var(--fg-main);
  overflow: auto;
  animation: animaBack 5s infinite ease;

  .btn-custom {
    color: white;
    background-color: transparent;
    padding: 1px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px transparent, 1px 1px transparentize(#FFF, 0.5);


    &.btn-draw {
      border: darkorange 1px solid;

      &:hover {
        color: darkorange;
        border-color: gold;
        box-shadow: 1px 1px darkorange;
      }

      &:active {
        box-shadow: inherit;
      }
    }

    &.btn-scrap {
      border: darkslateblue 1px solid;

      &:hover {
        color: darkslateblue;
        border-color: slateblue;
        box-shadow: 1px 1px darkslateblue;
      }

      &:active {
        box-shadow: inherit;
      }
    }

    &.btn-reset-teams {
      border: darkolivegreen 1px solid;

      &:hover {
        color: darkolivegreen;
        border-color: olivedrab;
        box-shadow: 1px 1px 200px darkolivegreen;
      }

      &:active {
        box-shadow: 1px 1px #eee, -1px -1px #555;

      }
    }

    &.btn-make-teams {
      border: darkcyan 1px solid;

      &:hover {
        color: darkcyan;
        border-color: cyan;
        box-shadow: 1px 1px 200px darkcyan;
      }

      &:active {
        box-shadow: 1px 1px #eee, -1px -1px #555;

      }
    }



  }
}

li {
  list-style: none;
}

[ng\:cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

button:disabled,
button[disabled] {
  opacity: 0.6;
  color: gray !important;
  text-shadow: 1px 1px white !important;
  pointer-events: none;
}
